## Ignore all files
/*

## Include project files
!swagger-latest.yaml

## Infrastructure
!.gitignore

## Documentation
!README.md
!LICENSE

## Exclude IDE files
# JetBrains
.idea/**/*.iml
# VScode
.vscode/**